.container {
    display: flex;
    align-items: center;
    align-content: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.title {
    margin-left: 12px;
}

.link {
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
    color: #434c5e;
    transition: color 200ms ease-in 0s;
    &:hover {
        color: #2e3440;
    }
}