// Variables
$harvey-black: #131111;
$harvey-white: #e0e0e0;
$harvey-red: #ff2323;
$harvey-green: #005f20;
$harvey-blue: #070bce;

/* Colors */
/* Snow Storm */
$snow-01: #eceff4;
$snow-02: #e5e9f0;
$snow-03: #d8dee9;
$snow-04: #c8ccd2;

/* Polar Night */
$polar-night-01: #2e3440;
$polar-night-02: #3b4252;
$polar-night-03: #434c5e;
$polar-night-04: #4c566a;

/* Frost */
$frost-01: #8fbcbb;
$frost-02: #88c0d0;
$frost-03: #81a1c1;
$frost-04: #5e81ac;

/* Aurora */
$aurora-01: #bf616a;
$aurora-02: #d08770;
$aurora-03: #ebcb8b;
$aurora-04: #a3be8c;
$aurora-05: #b48ead;
