@import '../../../utils/variables.scss';

input {
  background-color: $snow-01;
  border: 2px solid $snow-04;
  border-radius: 5px;
  transition: .25s;
  outline: none;
  &::placeholder {
    color: $snow-04;
  }
  &:focus {
    border: 2px solid $frost-03;
  }
}