@import '../../../utils/variables.scss';

input {
  padding: 0.25rem;
  background-color: $white-01;
  border: 2px solid $white-04;
  border-radius: 5px;
  transition: .25s;
  outline: none;
  &::placeholder {
    color: $white-04;
  }
  &:focus {
    border: 2px solid $blue-03;
  }
}